<div class="panel panel-default">
Link for Fleet: <%= link_to pap_path, pap_path %>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#manage" aria-controls="home" role="tab" data-toggle="tab">Manage</a></li>
    <li role="presentation"><a href="#details" aria-controls="profile" role="tab" data-toggle="tab">Details</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="manage">
      <div >
  <div class="row">
    <div class="col-md-2">FC</div>
    <div class="col-md-2">CO-FC</div>
    <div class="col-md-2">Logi Anchor</div>
    <div class="col-md-2">Scouts</div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <%= form_for(:fleet_position, url: special_role_fleets_path, html: { role: "form" }, :remote => true, data: { update_target: 'fc-list' }) do |f| %>
      <%= f.hidden_field :special_role, :value => "FC" %>
      <%= f.hidden_field :character_id, :id => "fc_fleet_position_character_id" %>
      <%= f.autocomplete_field :character_name, autocomplete_character_char_name_fleets_path,:"data-autocomplete-label" => "Sorry, nothing found.", :id => "fc_fleet_position_character_name" %>
    <% end %>
    </div>
    <div class="col-md-2">
      <%= form_for(:fleet_position, url: special_role_fleets_path, html: { role: "form" }, :remote => true, data: { update_target: 'cofc-list' }) do |f| %>
        <%= f.hidden_field :special_role, :value => "Co-FC" %>
        <%= f.hidden_field :character_id, :id => "cofc_fleet_position_character_id" %>
        <%= f.autocomplete_field :character_name, autocomplete_character_char_name_fleets_path,:"data-autocomplete-label" => "Sorry, nothing found.", :id => "cofc_fleet_position_character_name" %>
      <% end %>

    </div>
    <div class="col-md-2">
    <%= form_for(:fleet_position, url: special_role_fleets_path, html: { role: "form" }, :remote => true, data: { update_target: 'logi-list' }) do |f| %>
      <%= f.hidden_field :special_role, :value => "Logistics" %>
      <%= f.hidden_field :character_id, :id => "logi_fleet_position_character_id" %>
      <%= f.autocomplete_field :character_name, autocomplete_character_char_name_fleets_path,:"data-autocomplete-label" => "Sorry, nothing found.", :id => "logi_fleet_position_character_name" %>
    <% end %>      
    </div>
    <div class="col-md-2">
    <%= form_for(:fleet_position, url: special_role_fleets_path, html: { role: "form" }, :remote => true, data: { update_target: 'scout-list' }) do |f| %>
      <%= f.hidden_field :special_role, :value => "Scouts" %>
      <%= f.hidden_field :character_id, :id => "scout_fleet_position_character_id" %>
      <%= f.autocomplete_field :character_name, autocomplete_character_char_name_fleets_path,:"data-autocomplete-label" => "Sorry, nothing found.", :id => "scout_fleet_position_character_name" %>
    <% end %>   

    </div>
  </div>
  <div class="row">
    <div class="col-md-2" id="fc-list">FC</div>
    <div class="col-md-2" id="cofc-list">CO-FC</div>
    <div class="col-md-2" id="logi-list">Logi Anchor</div>
    <div class="col-md-2" id="scout-list">Scouts</div>
  </div>
</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="details">...</div>
  </div>

</div>


<%= javascript_tag do %>
  $('#fc_fleet_position_character_name').bind('railsAutocomplete.select', function(event, data){
    $( "#fc_fleet_position_character_id" ).val(data.item.id);
  });

  $('#cofc_fleet_position_character_name').bind('railsAutocomplete.select', function(event, data){
    $( "#cofc_fleet_position_character_id" ).val(data.item.id);
  });

  $('#logi_fleet_position_character_name').bind('railsAutocomplete.select', function(event, data){
    $( "#logi_fleet_position_character_id" ).val(data.item.id);
  });

  $('#scout_fleet_position_character_name').bind('railsAutocomplete.select', function(event, data){
    $( "#scout_fleet_position_character_id" ).val(data.item.id);
  });

  $(function() {
      /* Convenience for forms or links that return HTML from a remote ajax call.
      The returned markup will be inserted into the element id specified.
       */
      $('form[data-update-target]').on('ajax:success', function(evt, data) {
          var target = $(this).data('update-target');
          $('#' + target).html(data);
      });

      updateAllSpecialLists();
      updateDetailTab();

      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        e.target // newly activated tab
        e.relatedTarget // previous active tab
      })
  });

  function updateAllSpecialLists(){
    $('#fc-list').load('<%= special_role_fleets_path%>?fleet_position[special_role]=FC');
    $('#cofc-list').load('<%= special_role_fleets_path%>?fleet_position[special_role]=Co-FC');
    $('#logi-list').load('<%= special_role_fleets_path%>?fleet_position[special_role]=Logistics');
    $('#scout-list').load('<%= special_role_fleets_path%>?fleet_position[special_role]=Scouts');
  }

  function updateDetailTab(){
    $('#details').load('<%= detail_fleets_path%>');
    setTimeout(updateDetailTab,5000);
  }
<% end %>