<%= link_to "Add Watchlist", new_admin_watchlist_path, :class => "btn btn-primary"%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alliance</th>
      <th>What</th>
      <th>System</th>
      <th>When</th>
      <th>Locator</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @watchlists.each do |w| %>
    <tr>
      <td><%= w.char_name %></td>
      <td><%= w.alliance_name %></td>
      <td><%= (w.fc?) ? 'FC' : w.ship_type_name%></td>
      <td><%= w.solar_system_name%></td>
      <td><abbr class="timeago" title="<%= w.last_seen_at.to_formatted_s(:iso8601) if !w.last_seen_at.nil? %>"></abbr></td>
      <td><% if !w.comment.nil? %><button class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= w.comment%>">comment</button>
      <% end %></td>
      <td><abbr class="timeago" title="<%= w.locator_seen_at.to_formatted_s(:iso8601) if !w.locator_seen_at.nil? %>"></abbr></td>
      <td><%= link_to "Edit", edit_admin_watchlist_path(w.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
})
</script>