<form method="get">
  <input name="name" value="<%= params[:name] if params[:name]%>" />
  <input type="submit" name="Search" value="Search" />
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Main Char</th>
      <th>Last Login</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |r| %>
    <tr>
      <td><%= r.username%></td>
      <td><%= r.email%></td>
      <td><%= "#{r.main_char.try(:char_name)} - #{r.main_char.try(:alliance_name)}" %></td>
      <td><abbr class="timeago" title="<%= r.last_login_at.to_formatted_s(:iso8601) if !r.last_login_at.nil?  %>"></abbr></td>
      <td><%= link_to 'Edit',admin_user_path(r.id)%> | <%= link_to 'Delete',admin_user_path(r.id), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @users %>